<mat-toolbar>
  <app-ed-logo-graphic class="sh-logo" />

  <section class="sh-container">
    <a
      class="sh-container__link"
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Inicio</a
    >
    <a
      class="sh-container__link"
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/actualidad"
      >Actualidad</a
    >
  </section>

  <section class="sh-additional">
    <p>
      <mat-icon
        aria-hidden="false"
        aria-label="Icono en forma de casa"
        fontIcon="home"
      />
      (+51) 932265698
    </p>
    <mat-icon
      aria-hidden="false"
      aria-label="Icono en forma de lupa"
      fontIcon="search"
    />
  </section>
</mat-toolbar>
