:host {
  flex-shrink: 0;
  max-width: 350px;
  width: 100%;
}
.sh-card {
  height: 100%;
  &__header {
    ::ng-deep div {
      flex: 1;
    }
    mat-card-title {
      text-align: center;
      mat-icon {
        width: 100%;
        height: auto;
        color: var(--mat-sys-primary);
        font-size: 2.5rem;
      }
      p {
        margin: 0;
      }
    }
  }
  &__body {
    color: var(--mat-sys-secondary);
    text-align: center;
  }
  &__footer {
    padding: 1rem;
    mat-chip-set {
      ::ng-deep div {
        justify-content: center;
      }
    }
  }
}
